section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    margin: 20px auto auto auto ;
}

.titulo{
    color: #fff;
    background-color: rgba(27, 57, 106, 0.98);
    text-align: center;
}

.contenedor-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-usuario{
    border-radius: 50%;
    width: 30%;
}

.informacion-usuario{
    margin: 20px 0 20px 0;
}

.info .informacion-usuario div p{
    border: 1px solid black;
    margin: 10px 0 10px 0;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.info .informacion-usuario div .text-cor{
    overflow: hidden;   
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(27, 57, 106, 0.98);
}

.footer ul{
    list-style: none;
    text-decoration: none;
}

.footer ul li a{
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover{
    color: #B7B7B7;
}

.footer .mapa-conteiner {
    text-align: center;
    padding: 10px;
}

.footer .copyrigth{
    text-align: center;
}


/* Diseno responsivo */

@media (max-width: 600px) {
    .texto-cor {
        overflow: hidden;
        text-overflow: ellipsis;
        /* Agrega puntos suspensivos para indicar que hay más texto */
        white-space: nowrap;
        /* Evita que el texto se desplace a una nueva línea */
    }
}

@media screen  and (max-width: 1300px) {
    .footer .footer-item iframe{
        width: 200px;
        height: 200px;
    }
}


@media screen  and (max-width: 767px) {

    .footer .footer-item ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 40px 0 0;
    }
    /* .footer .footer-item ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .footer .mapa-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
    }
    
    .footer .footer-item iframe{
        width: 100px;
        height: 100px;
    }
    
}


@media screen  and (max-width: 400px){

    .contenedor-informacion .texto-informacion {
        padding: 20px 30px 0px 30px;
    }
    .contenedor-informacion .texto-informacion p{
        font-size: 12px;
    }
}